@font-face {
  font-family: myFont; /* set name */
  src: url(/sf-pro-text_regular.woff2); /* url of the font */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main{
    height: 100%;
    width: 100%;
   font-family: myFont;
}
a {
  color: white;
  text-decoration: none;
}
#navbar {
  width: 100%;
  background-color: rgba(7, 7, 7, 0.708);
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 15px 0;
  position: fixed;
}
#Hero {
  height: 85%;
  width: 100%;
  padding: 50px;
 text-align: center;
  color: white;
  background-image: url(
https://www.apple.com/v/home/ci/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_mediumtall.jpg);
background-size: cover;
background-position: center;}
#Hero h1{
    font-size: 60Px;
    font-weight: 600;
}
#Hero h2{
    font-size: 30px;
    font-weight: 300;
}
#links button{
  font-size: 18px;
  margin-top:10px ;
padding: 12px 30px;
color: white;
background-color: #0077ED;
border-radius: 500px;
border: 1px solid  #0077ED
}
#airHero {
  height: 85%;
  width: 100%;
  padding: 50px;
 text-align: center;
  color: black;
  background-image: url(
https://www.apple.com/v/home/ci/images/heroes/iphone-air/hero_iphone_air__0gxyavihpiqu_medium.jpg);
background-size: cover;
background-position: center;}
#airHero h1{
    font-size: 60Px;
    font-weight: 600;
}
#airHero h2{
    font-size: 30px;
    font-weight: 300;
}
#macHero {
  height: 85%;
  width: 100%;
  padding: 50px;
 text-align: center;
  color: white;
  background-image: url(https://www.apple.com/v/home/ci/images/heroes/macbook-pro-m5/hero_macbook_pro_m5__fjgmapbkxo2u_large.jpg);
background-size: cover;
background-position: center;}
#macHero h1{
    font-size: 60Px;
    font-weight: 600;
}
#macHero h2{
    font-size: 30px;
    font-weight: 300;
}